.jumbotron
{
    background: url("../src/banerNetworking.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-bottom: 90px;

}

#jumbotronTitle
{
	font-family: "Times new Roman", Helvetica,serif;
	color: rgb(0,0,130);
	font-size: medium;
	text-align: center;
	background-color: rgba(255,255,255,0.7);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 160px;
    margin-left:485px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
}

#wrapper
{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
    width: 750px;
}

#datosContactoBox
{
	background-color: rgb(100,100,100);
	border-radius: 25px;
    padding-left: 25px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 300px;
    margin-top: 100px;
    margin-left:200px;
}

#datosContacto
{
	font-family: "Times new Roman", Helvetica,serif;
	color: rgb(0,0,0);
	font-size: medium;
	text-align: center;
	background-color: rgba(255,255,255,0.3);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 250px;
    margin-left:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
