body {
  background:  #a3a2a1;
  color: #000;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  font-size: 75%;
  line-height:1.5;
  margin: 0;
  padding: 0;
  background-image:url(/images/borde.png);
  background-repeat: repeat-y;
  background-position:center;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: .5em; 
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  line-height: 2em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25em;
  margin-bottom: 1.25em; 
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; 
}

h6 {
  font-size: .8333em;
  font-weight: bold;
  line-height: 1.8em;
  margin-bottom: 1.8em;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

p {
  margin: 0 0 1.5em 0;
}

p a:link {
  text-decoration: underline;
}

a:link, a:visited {
  color: #069;
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: 1px dotted;
}

a:hover, a:active, li a.active {
  color: #069;
  outline: none;
  text-decoration: underline;
}

/* Common Styling */
li ul, li ol { margin: 0; }
ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table { margin-bottom: 1.5em; width:100%; }
th, tr, td { padding: 0.1em 0.5em; vertical-align: middle; }
hr { background: #666; border: none; clear: both; float: none; height: 1px; margin: -1px 0 1.5em; width: 100%; }
fieldset { border: 1px solid #ccc; margin: .5em 0; padding: 1em; }

/**
 * 2.LAYOUT
 */
#wrapper {
  margin: 0 auto;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-top:250px;
  width: 1015px;
  background-image:url(/images/fondo.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

#main {
  margin-top: 220px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
}

/* 3 columns */
body.two-sidebars #main {
  float: left;
  margin: 0 20px 0 240px;
  padding: 0;
  width: 460px;
}

/* 2 columns: sidebar-first */
body.sidebar-first #main {
  float: right;
  margin: 0;
  padding: 0;
  width: 700px;
}

/* 2 columns: sidebar-second */
body.sidebar-second #main {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  width: 700px;
}

/**
 * 4.SIDEBARS
 */
/* 3 columns: sidebar-first */
body.two-sidebars #sidebar-first {
  float: left;
  margin: 0 20px 0 -720px;
  padding: 0;
  width: 220px;
}

/* 3 columns: sidebar-second */
body.two-sidebars #sidebar-second {
  float: left;
  margin: 0;
  padding: 0px;
  width: 220px;
}

/* 2 columns: sidebar-first */
body.sidebar-first #sidebar-first {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  width: 220px;
}

/* 2 columns: sidebar-second */
body.sidebar-second #sidebar-second {
  float: right;
  margin: 0;
  padding: 0;
  width: 220px;
}

/**
 * 5.HEADER
 */
#header {
  margin: 0 0 1.5em;
  padding: 3em 0 0;
  position: relative;
}

#header #logo {
  float: left;
  margin: 0 1em 0 0;
}

#header #site-name-slogan {
  float: left;
}

#header #site-name {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
}

#header #site-name a:hover {
  text-decoration: none;
}

#header #site-slogan {
  margin: 0;
}

/**
 * 6.NAVIGATION
 */
#navigation {
  margin: 55px 0 1.5em;
  padding: 0;
}

#navigation ul.main-menu {
  background:#ceccca;
  margin: 0;
  margin-right:20px;
  margin-top:10px;
  padding: 0;
  float:right;
  border-width:1px;
  border-style:solid;
  border-color:#a9a7a6;
  color: #807f7e;
  font-family: Trebuchet MS, Lucida Grande, Verdana, Arial, sans-serif;
  font-style: italic;
  font-size:16px;
/*  letter-spacing: 1px;  */
  font-weight: bold;
  opacity:0.85;
  filter:alpha(opacity=85);
}

#navigation ul.main-menu li {
  float: left;
  margin: 0;
  padding: 0;
}

#navigation ul.main-menu li a {
  display: block;
  float: left;
  line-height: 3em;
  padding-right: 10px;
  padding-left: 10px;
  color: #807f7e;
}

#navigation ul.secondary-menu {
  background: #eee;
  margin: 0;
  padding: 0;
}

#navigation ul.secondary-menu li {
  margin: 0;
  padding: 0;
}

#navigation ul.secondary-menu li a {
  display: block;
  float: left;
  line-height: 3em;
  padding: 0 1em;
}

#skip-link {
  position: absolute;
}

.breadcrumb {
  padding-bottom: 1.5em;
}

/* menus and item lists */
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}
.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0 1em 0 0;
}

/* admin tabs */
.tabs-wrapper {
  margin: 1px 0 1.5em;
}

ul.primary {
  margin: 0;
  padding: 1px 0 0;
}

ul.secondary {
  line-height: 3em;
  margin: 0 0 -1px;
  padding: 0;
}

ul.secondary a.active {
  border-bottom: none;
}

/**
 * 7.NODES
 */
#page-title {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0;
}

.node {
  margin-bottom: 1.5em;
}

/* tags */
.field-name-field-tags {
  margin: 0 0 1.5em;
}

.field-name-field-tags div {
  display: inline;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

/* profile */
.profile {
  margin: 1.5em 0;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.profile dd {
  margin-bottom: 1.5em;
}

.password-parent {
  width: 36em;
}

/**
 * 8.COMMENTS
 */
#comments {
  clear: both;
  margin-top: 1.5em;
}

.comment {
  margin-bottom: 1.5em;
}

.comment .new {
  color: red;
  text-transform: capitalize;
}

/**
 * 9.BLOCKS
 */
.block {
  margin-bottom: 1.5em;
}

/**
 * 10.FOOTER
 */
#footer {
  clear: both;
/*  padding: 1.5em 0;*/
  position: relative;
  font-family: Tahoma, Lucida Grande, Verdana, Arial, sans-serif;  
  color:#737271;
  margin-top: 20px;
  padding-bottom: 40px;
}

#footer a.feed-icon {
  position: absolute;
  right: 0;
/*  top: 1.416667em;*/
}

/**
 * 11.CSS SUPPORT
 *
 * Built-in classes:
 * .clearfix                            | float clearing
 * .element-invisible                   | hide element visually
 * .element-invisible.element-focusable | allow element to be focusable when navigated to via keyboard
 * .element-hidden                      | hide element from all users
 */
 
 
 
 
#direccion{
    float:left;
    padding-left:20px;
    width: 230px;
    font-family: Trebuchet MS, Lucida Grande, Verdana, Arial, sans-serif;
    font-style: italic;
    font-size:11px;
    color:#61605f;
}
 
#logoGesellHeaderContainer{
     text-align:center;
}
 
#logoGeseHeaderllImage{
     margin-top:10px;
     
}

#direccion a{
    color:#303030 !important;
}

.title{
    font-family: Trebuchet MS, Lucida Grande, Verdana, Arial, sans-serif;
    color:#b1afae;
    font-size:30px !important;
    text-align:right;
    padding-right: 50px;
    font-weight: bold;
}

.content{
    margin-right:40px;
    margin-left:40px;
    border-width:1px;
    border-style:solid;
    border-color:#a9a7a6;
    background-color:#f4f4f4;
    color:#737271;
    font-family: Lucida Sans Unicode, Verdana, Arial, sans-serif;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:10px;
    font-size:13px;
    text-align:justify;
    margin-bottom:0;
    margin-top:0;
}

.content h1{
    font-family: Lucida Sans Unicode, Verdana, Arial, sans-serif;
    font-style:italic;
    font-weight: bold;
    font-size:16px;
}

#footerIzquierdo{
    padding-left:50px;
    margin-top:12px;
    float:left;
}

#footerCentro{
    width:100%;
    position:absolute;
    text-align:center;
    width:300px;
    margin-left:377px;
}

#footerDerecha{
    padding-right:50px;
    float:right;
}

#miUbicacion{
    float:left;
}

#start{
    height:20px;
    width:400px;
    padding:10px;
    color:#8b8a89;
    background-color: white;
    border-style:solid;
    border-width:1px;
    border-color:#a9a7a6;
    font-family: Verdana, Arial, sans-serif;
    font-size:18px;
    margin-right:15px;
}

.boton{
    height:40px;
    font-size:18px;
    color:white;
    background-color:#8b8a89;    
    font-family: Verdana, Arial, sans-serif;    
    border-style:none;
    width:150px;
    cursor:pointer;
}

.boton:hover{
    background-color:#9090A0;
}

#miUbicacionAyuda{
    margin-top:10px;
    font-size:11px;
    width:585px;
}

#destino{
    float:right;
    margin-right:50px;
}

#destinoData{
    border-style:solid;
    border-width:1px;
    border-color:#a9a7a6;
    background-color:white;
    color:#9b9a9a;
    padding:12px;
}

#indicacionesContainer{
    width:350px;
    height:560px;
    overflow:auto;
    float:left;
}

#indicaciones{
}

#mapaContainer{
    float:right;
    text-align:center;
}

#map_canvas{
    border-style:solid;
    border-color:white;
    border-width:10px;
    margin-top:5px;
    width:510px;
    height:500px;
}

.field-item a{
    color:#303030 !important;
    text-decoration: none !important;
}

.field-item a:hover{
    text-decoration: underline !important;
}


#disponibilidadIntro{
    margin-bottom:25px;
}

#indicadores{
    margin-top:30px;
    margin-bottom:30px;
}

.disponible{
    background-color: #7ba266;
}

.indicadorDisponibilidadContainer{
    width:250px;
    float:left;
}
.indicadorDisponibilidad{
    width:100px;
    height:15px;
    float:left;
    margin-right:15px;
}

.reservado{
    background-color: #c9bc51;
}

.alquilado{
    background-color: #b85b5b;
}

#disponibilidades{
    border-collapse: collapse;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: Verdana, Arial, sans-serif;
    color: black;
    font-size: 8px;
}

#disponibilidades td{
    margin:0;
    border-style:solid;
    border-color: #7b7b7b;
    border-width: 1px;
}

#multiplicador{
    background-color: #e8e8e6;    
    border-style:none !important;
}

#semana{
    text-align:center;
    font-variant: small-caps;
    color:#8c8c8c;
    font-weight:bold;
    background-color: #d9d9d9;
    border-style:none !important;
    font-size:16px;
}

#semanas{
    
}

#semanas td{
    text-align:center;    
    color:#565656;
    background-color:#c9c9c8;
    font-style: italic;
    border-style:none !important;
    font-size:12px;
    width:130px;
}

#meses{
    width:60px;
    font-variant: small-caps;    
    text-align:center;
    color:#8c8c8c;
    background-color: #d9d9d9;
    font-weight:bold;
    border-style:none !important;
    font-size:16px;
}

.mes{
    border-style:none !important;
    font-style: italic;
    width:130px;
    height:50px;
    color:#565656;
    background-color:#c9c9c8;
    font-size:12px;
    text-align:center;
}


#navigation ul{
  list-style-type:none;
}

#mercadolibre{
  position:absolute;
  background: #ceccca;
  border-width: 1px;
  border-style: solid;
  border-color: #a9a7a6;
  opacity: 0.85;
  width:350px;
  margin-left:540px;
  margin-top:80px;
  height:58px;
}

#mercadolibre .img{
    position:absolute;
    margin-left:5px;
    margin-top:8px;
}

#mercadolibre .texto{
    position:absolute;
    color: #61605f;
    margin-top:5px;
    margin-left:170px;
    padding-left:5px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #a9a7a6;
    font-size:11px;
}

#mercadolibre a:hover{
  text-decoration:none;
}

#mercadolibre a .texto:hover{
  color: black;
}

.clearfix {
    clear: both;
}
