<div class= "contact materialShadow">
	<div class = "serviceDataBox">
		<div class = "content">
			<h4 class="text-center well">Nuestra Empresa</h4>

			<p class="primeralinea text-justify">En IOS-Tecnologia ofrecemos un servicio de primera calidad, brindado soluciones en infraestructura, seguridad electronica para el ambito publico, privado y particular.
			Ofrecemos asesoria integral en networking, comunicacion, seguridad e informatica, contando con personal experimentado y capacitados para enfrentar los desafios propuestos.

			Nuestra política es mantener un contacto constante con cada usuario, ya que entendemos que su empresa necesita tener un soporte Profesional a quien recurrir las 24 hs, los 365 días del año.
			No necesariamente tienen que surgir problemas para solucionarlos, el objetivo es evitar que se generen.</p>


			<h4 class="text-center well">Misión</h4>
			<p class="primeralinea text-justify">Prestar nuestros servicios en el área de informática para empresas, permitiendo a nuestros clientes la continuidad operacional de su negocio por medio de soluciones puntuales e innovadoras, atención personalizada y rápida respuesta a sus contingencias, sustentado por un equipo técnico y profesional ágil, flexible y comprometido.<p>


			<p class="primeralinea text-justify">Lo que nos diferencia:</p>
			<ul>
				<li>Apostamos a las relaciones a largo plazo.</li>
				<li>Siempre damos un poco más de nosotros.</li>
				<li>Disfrutamos de nuestro trabajo.</li>
				<li>Creemos que la comunicación con nuestros clientes es esencial.</li>
			</ul>

			<p class="primeralinea text-justify">En nuestra empresa la atención al usuario es proporcionada directamente por nuestro equipo técnico, evitando cualquier tipo de intermediario que pueda entorpecer la resolución del problema.</p>

			<p class="primeralinea text-justify">Empleamos todos los recursos necesarios para que la resolución de problemas de nuestros clientes sea ágil, directa y eficiente.</p>

			<p class="primeralinea text-justify">La gran mayoría de incidencias reportadas por los usuarios son solucionadas de forma inmediata a través de la asistencia remota segura, proporcionada por nuestro personal</p>
		</div>
	</div>
</div>
