<div class= "contact materialShadow">
	<div class = "serviceDataBox">
		<div class = "content">
			<h4 class="text-center well">Virtualizacion de Servidores</h4>
			<p class="primeralinea text-justify">	La virtualización de servidores representa una solución adaptable a las necesidades de cada empresa, permitiendo reducción de costos, aumento de la continuidad operativa y facilitando la administración de los sistemas informáticos.
				<ul>
					<li>Vmware</li>
					<li>Hyper-v</li>
				</ul>
			</p>

			<h4 class="text-center well">Seguridad Informatica</h4>
			<p class="primeralinea text-justify">Es indispensable que toda empresa moderna cuente con un respaldo que le permita operar con la tranquilidad y seguridad necesaria. En IOS-Tecnologia estamos siempre a su disposición para diseñar la mejor política de seguridad informática para su empresa.</p>

			<h4 class="text-center well">Soporte Tecnico on Demand</h4>

			<h4 class="text-center well">Mantenimiento</h4>
			<p class="primeralinea text-justify">Es el cuidado que se le da al equipo para prevenir fallas futuras, dependerá del espacio físico donde se encuentre, cual será el tipo de mantenimiento que se le realice. Existen dos tipos:</p>

			<p>Preventivo</p>
			<p class="primeralinea text-justify">Es muy importante crear un ambiente favorable para el equipo, conservando sus partes limpias y lubricadas, para lo cual debemos realizar un plan de Mantenimiento Preventivo para posteriormente lograr un soporte técnico proactivo y de esa manera garantizar la continuidad de su negocio con los costos más bajos.
			Durante el mantenimiento preventivo se realizara una limpieza externa e interna del equipo revisando partes móviles, lubricándolas y/o cambiándolas según corresponda, de esta forma lograremos extender la vida útil de todo el equipamiento informatico.
			Con una eficiente rutina de mantenimiento preventivo se podrán disminuir la cantidad de visitas por mantenimiento correctivo y de esa manera los equipos tendrán menores tiempos de paradas.</p>
			
			<p>Correctivo</p>
			<p class="primeralinea text-justify">Durante el mantenimiento correctivo, que podrá ser remoto u On Site, un técnico altamente capacitado, deberá configurar, instalar software o hardware según corresponda.</p>

			<h4 class="text-center well">Instalacion de Servidores</h4>
			<p class="primeralinea text-justify">Los procesos de instalación de servidores en la PYMES habitualmente no solo están ligados a lo que se refiere a la instalación física del/los equipo/s o sistema/s operativo/s, sino que esta muy fuertemente vinculado a los procesos de ordenamiento y resguardo de la información, para lo cual en un gran porcentaje se comienza con reuniones gerenciales para el replanteo del plan de derechos, implementación del mismo, ordenamiento de la información si fuese necesario y armado del plan de backup, incluyendo la capacitación del responsable para su seguimiento y  verificación de ejecución.</p>

			<h4 class="text-center well">Cableados Estructurados</h4>
			<p class="primeralinea text-justify">En IOS-Tecnologia realizamos cableados estructurados CAT 5, 6 y Fibra Óptica para voz y datos, armado y diseño de RACK de comunicaciones y/o servidores conjuntamente con la provisión de los materiales necesarios para poder llevar a cabo dicho proyecto. Reordenamiento de RACKs existentes y/o mudanzas.</p>

			<h4 class="text-center well">Telefonía</h4>
			<p class="text-justify">
				<ul>
					<li>Montaje y configuración centrales ip</li>
					<li>Montaje y configuración centrales analógicas</li>
				</ul>
			</p>

			<h4 class="text-center well">Monitoreo ip / analógico</h4>  
			
			<p class="text-justify">Cámaras de Seguridad
				<ul>
					<li>Empresas</li>
					<li>Comercios</li>
					<li>Hogares</li>
				</ul>

			Alarmas, con conexión a internet y celular por GSM o satelital. Instalación de cámaras CCTV. Montajes reparación y mantenimiento de cámaras CCTV. Proyectos de instalaciones en seguridad electrónica cámaras ocultas con o sin audio</p>
		</div>
	</div>
</div>